*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Karla', sans-serif;
  background-color: rgb(2, 2, 2);
  color: white;
}
.navbar-section{
  margin: 0;
  font-size: 18px;
}

h2{
  font-size: 4rem;
}
.name{
  color: black;
  -webkit-text-stroke: 0.5px rgb(42, 40, 40);
  position: relative;
}
.name::before{
  content:attr(data-text);
  position: absolute;
  top: 6px;
  left: 0;
  width: 0;
  height: 100%;
  color: rgb(255, 254, 254);
  -webkit-text-stroke: 0vw black;
  border-right: 2px solid white;
  overflow: hidden;
  animation: animate 4s linear infinite;

} 
@keyframes animate{
  0%,10%{
    width:0%
  }
 

  100%{
    width: 110%;
  }
  
  

}
ul{
  line-height: 25px;
}
.space{
  line-height: 10px;
}
a{
  position: relative;
}
/* hover underline  */
a:after{
  content:"";
  position: absolute;
  background-color: aqua;
  height: 3px;
  left: 0px;
  width: 0;
  bottom: -10px;
  transition: 0.3s;
}
a:hover:after{
  width: 100%;
}
/* skills */
.skills{
  width: 100%;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2rem;

}
.skill-name{
  font-size:18px ;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 20px 0;

}
.skill-bar{
  height: 7px;
  background: rgba(0, 0, 0, 0.929) ;
  border-radius: 3px;

}
.skill-per{
  height: 7px;
  
  
  background: rgb(144, 222, 244);
  border-radius: 3px;
  animation: fillBars 2.5s 1;
  position: relative;
  font-weight: bold;
}
.skill-per::before{
  content:attr(per);
  position: absolute;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  color: black;
  background: white;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right:0;
  transform: translateX(50%);
}
.skill-per::after{
  content:"";
  position: absolute;
  color: black;
  width: 10px;
  height: 10px;
  background:white;
  top: -15px;
  right: 0px;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;

}
@keyframes fillBars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }


}
/* project card */
.container{
  display: flex;
}
.card-title{
  height: 70vh;
  margin: 50px;
  box-shadow:5px 5px 20px white;
  overflow: hidden;
}
.intro{
  height:50px;
  width: 272px;
  padding-left:6px ;
  box-sizing: border-box;
  position: absolute;
  bottom: 51px;
  background: rgba(27,27,27,.5);
  color: white;
  transition: .5s;
}
.h1-text{
  margin: 10px;
  font-size:40px

}
.p-text{
  /* font-size:20px; */
  margin-left: 20px;
  visibility: hidden;
  opacity: 0;
  width: 17vw;
}
span{
  font-weight: bold;
}
.card-title:hover{
 cursor: pointer;
}
.card-title:hover .intro{
  height:400px;
  bottom: 50px;
  


}
.card-title:hover p{
  opacity: 1;
  visibility: visible;
}
.card-title:hover img{
  transform: scale(1.1) rotate(-3deg);
}
/* icons */
.socialIcons a{
  text-decoration: none;
  padding: 10px;
  background-color: aliceblue;
  margin: 10px;
  border-radius: 50%;
  top: 50px;
  left: 50px;
  color: black;
}


.hover-mouse:hover{
  box-shadow:5px 5px 20px white;

}